.MainButton{
    &__Button__1{
        background-color: grey;
        color:white;
        border: 5px grey solid;
        margin: 1rem;
        margin-left: 7rem;
        border-radius: 20px;
    }
    &__Button__2{
        background-color: grey;
        color:white;
        border: 5px grey solid;
        margin: 1rem;
        border-radius: 20px;
    }
}