.nav {
    background-color: $color_eerieblack;
    width: 100%;
    height: 70px;

    &__intro {
        float: left;

        &--img {
            width: 15rem;
            height: 5rempx;
            margin: 10px;
            padding-left: 5rem;
        }
    }

    &__list {
        float: right;
        padding-left: 50rem;
        a:hover {
            color: #E56353;
          }
        
        &--item {
            display: inline-block;
            margin: 15px;
            padding: 5px;
        }
        
        &--item a {
            color: $color_platinum;
        }
    }
}