.nav {
    background-color: $color_black;
    width: 100%;
    height: 70px;

    &__intro {
        float: left;

        &--img {
            width: 100px;
            height: 50px;
            margin: 10px;
            padding-left: 25px;
        }
    }

    &__list {
        float: right;
        padding-left: 50rem;
        
        &--item {
            display: inline-block;
            margin: 15px;
            padding: 5px;
        }
        
        &--item a {
            color: white;
        }
    }
}