/* font family */
$font_roboto: 'Roboto', sans-serif;
$font_playful: 'Playfair Display', serif;
$font_playful: 'Playfair Diasplay';


/* colors */
$color_black: #000000;
$color_eerieblack: #121619;
$color_platinum: #e6e7e7;
$color_lightgrey:#d1d1d1;
$color_ruddypink: #d76c68;
